<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <img src="/img/IMG-20161224-WA0002.jpg" style="border-radius:50%" width="50%">
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/pubs/">Publications</a>
      <br>
      <a class="sidebar-nav-item" href="/MSThesis/">MS Thesis</a>
      <br>
      <a class="sidebar-nav-item" href="/internship/">Internships</a>
      <br>
      <a class="sidebar-nav-item" href="/ongoing/">Ongoing Projects</a>
      <br>
      <a class="sidebar-nav-item" href="/collaborators/">Collaborators</a>
    </nav>


  </div>
</div>
